<template>
  <el-main>
    <el-container>
      <el-menu :default-active="activeUI" mode="horizontal" @select="handleSelect" style="width:100%">
        <el-menu-item v-for="(ui, i) in mainWrappers" :key="i"
          :index="ui.id" :disabled="ui.disabled">{{ ui.label }}</el-menu-item>
        <el-submenu v-if="subWrappers.length" index="subui">
          <template slot="title"><i class="el-icon-more"/></template>
          <el-menu-item v-for="(ui, i) in subWrappers" :key="i"
            :index="ui.id" :disabled="ui.disabled">{{ ui.label }}</el-menu-item>
        </el-submenu>
      </el-menu>
    </el-container>

    <el-main>
      <el-card class="form">
        <keep-alive>
          <component :is="currentComponentUI" v-bind="uiProps"/>
        </keep-alive>
      </el-card>
    </el-main>
  </el-main>
</template>

<script>
  import { get } from '@/libs/ajax'

  const wrappers = [
    { label: 'Native', src: () => import('vue-json-schema') },
    // { label: 'ElementUI', src: () => import('@vue-json-schema/wrap-elementui') },
    { label: 'ElementUI', src: 'FormSchemaElementUI.js' },
    { label: 'Vuetify', disabled: true },
    { label: 'BootstrapVue', disabled: true },
    { label: 'Buefy', disabled: true },
    { label: 'iView', disabled: true },
    { label: 'AT-UI', disabled: true },
    { label: 'v-semantic', disabled: true }
  ]

  wrappers.map((ui) => (ui.id = ui.label))

  export default {
    props: {
      url: { type: String, required: true }
    },
    data: () => ({
      activeUI: 'Native',
      schema: {},
      model: {}
    }),
    computed: {
      currentUI () {
        return wrappers.find((ui) => ui.id === this.activeUI)
      },
      currentComponentUI () {
        if (typeof this.currentUI.src === 'string') {
          return () => import('@/components/' + this.currentUI.src)
        }
        return this.currentUI.src
      },
      mainWrappers () {
        return wrappers.slice(0, 6)
      },
      subWrappers () {
        return wrappers.slice(6)
      },
      uiProps () {
        return {
          schema: this.schema,
          model: this.model
        }
      }
    },
    async create () {
      await this.load()
    },
    async beforeRouteEnter (to, from, next) {
      next(async (vm) => await vm.load())
    },
    methods: {
      handleSelect (selectedUIValue) {
        this.activeUI = selectedUIValue
      },
      async load () {
        this.schema = await get(this.url)
        this.$forceUpdate()
      }
    }
  }
</script>


<style lang="stylus">
  .form
    text-align: left
    width: 600px
    margin: auto

    h1
      font-size: 1.7em
      text-align: center
      margin-top: 0
      margin-bottom: .2em

    h1 + p
      display: block
      text-align: center
      margin-bottom: 1.2em

    small
      line-height: 20px
      display: block

    .el-alert
      margin-bottom: 15px
</style>
