<template>
  <VueMarkdown :source="data" :html="false"/>
</template>

<script>
  import { get } from '@/libs/ajax'
  import VueMarkdown from 'vue-markdown'
  import '@/assets/prism.js'

  export default {
    props: {
      url: { type: String, required: true }
    },
    data: () => ({
      data: ''
    }),
    computed: {
      async raw () {
        return await get(this.url)
      }
    },
    async created () {
      await this.load()
    },
    beforeRouteEnter (to, from, next) {
      next(async (vm) => {
        await vm.load()
      })
    },
    methods: {
      setData (value) {
        this.data = value
        window.setTimeout(window.Prism.highlightAll, 16)
      },
      async load () {
        this.setData(await this.raw)
      }
    },
    components: { VueMarkdown }
  }
</script>

<style src="@/assets/prism.css"/>
