<template>
  <el-container class="container">
    <el-header height="60px">
      <el-row type="flex" class="row-bg" justify>
        <el-col :span="6">
          <i class="el-icon-menu app-top-logo" @click="toggleMenu"/>
          <router-link :to="{ name: 'home' }">FormSchema</router-link>
        </el-col>
        <el-col :span="18">
          <el-menu class="app-top-menu" mode="horizontal" :router="true"
            background-color="#1f5d61" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="github" :route="{ name: 'github' }">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 499.36" focusable="false"><title>GitHub</title><path d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z" fill="currentColor" fill-rule="evenodd"></path></svg>
            </el-menu-item>
          </el-menu>
        </el-col>
      </el-row>
    </el-header>
    <el-container>
      <el-aside :width="asideWith">
        <el-menu :default-openeds="['features']" style="height:100%" :collapse="isCollapse" :router="true">
          <el-menu-item index="/getting-started">
            <i class="el-icon-news"></i>
            <span>Getting started</span>
          </el-menu-item>
          <el-menu-item index="/api">
            <i class="el-icon-tickets"></i>
            <span>FormSchema API</span>
          </el-menu-item>
          <el-submenu index="features">
            <template slot="title">
              <i class="el-icon-star-off"></i>
              <span slot="title">Features</span>
            </template>
            <el-menu-item-group>
              <el-menu-item v-for="item in features" :key="item.url" :index="item.url">
                  {{ item.label }}</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="demo">
            <template slot="title">
              <i class="el-icon-goods"></i>
              <span slot="title">Live Demo</span>
            </template>
            <el-menu-item-group title="HTML Form Elements">
              <el-menu-item v-for="item in elements" :key="item.url" :index="item.url">
                  {{ item.label }}</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="Use Cases">
              <el-menu-item v-for="item in schemas" :key="item.url" :index="item.url">
                  {{ item.label }}</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-menu-item index="/license">
            <i class="el-icon-setting"></i>
            <span>License</span>
          </el-menu-item>
        </el-menu>
      </el-aside>

      <div ref="viewContainer" class="view-container">
        <router-view class="view"/>
      </div>
    </el-container>
  </el-container>
</template>

<script>
  export default {
    data: () => ({
      isCollapse: false,
      features: [
        { url: '/features/AsyncSchema', label: 'Async Schema' },
        { url: '/features/ArrayInputs', label: 'Array Inputs' },
        { url: '/features/CustomElements', label: 'Custom Elements' },
        { url: '/features/GroupedRadios', label: 'Grouped Radios' },
        { url: '/features/MultipleCheckboxes', label: 'Multiple Checkboxes' },
        { url: '/features/RegexInputs', label: 'Regex Input' }
      ],
      elements: [
        { url: '/demo/elements/input', label: '<input> element' },
        { url: '/demo/elements/select', label: '<select> element' },
        { url: '/demo/elements/textarea', label: '<textarea> element' }
      ],
      schemas: [
        { url: '/demo/signin', label: 'Signin Page' },
        { url: '/demo/newsletter', label: 'Newsletter Subscription' }
      ]
    }),
    computed: {
      asideWith () {
        return this.isCollapse ? '' : '220px'
      }
    },
    beforeUpdate () {
      this.$refs.viewContainer.scrollTop = 0
    },
    methods: {
      toggleMenu () {
        this.isCollapse = !this.isCollapse
      }
    }
  }
</script>

<style src="normalize.css/normalize.css"/>
<style lang="stylus">
  body
    padding: 0
    margin: 0
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #2c3e50

  a
    text-decoration: none

  code
    padding: 0.2em 0.4em
    margin: 0
    background-color: rgba(27,31,35,0.05)
    border-radius: 3px

  pre
    padding: 16px
    overflow: auto
    line-height: 1.45
    background-color: #f6f8fa
    border-radius: 3px

    code
      background-color: transparent
      padding: 0
      font-size: 100%

  .container
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden

  .el-header
    background-color: #545c64
    background-color: #1f5d61
    height: 60px
    line-height: @height

    &, a
      color: #F5F5F5

    .el-icon-menu
      cursor: pointer

    .app-top-logo
      margin-left: 3px
      margin-right: 10px

    .app-top-menu
      position: absolute
      right: 0

      svg
        width: width-ps = 16px
        width: width-em = 1.8rem
        height: @width-px
        height: @width-em

  .el-aside
    text-align: left
    overflow-x: hidden
    overflow-y: auto

    &, a
      color: #333
    .is-active a
      color: #409EFF

    .el-menu
      // box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1)
      box-shadow: 0 0px 5px 0 rgba(0,0,0,0.1)

    .el-menu-item-group
      background-color: #fbfbfb

      ul
        padding: 0 0 10px 0

    .el-menu-item-group__title
      padding-left: 25px !important

    .el-submenu .el-menu-item
      height: 35px
      line-height: @height
      padding: 0 @height
      padding-left: 0
      font-size: .85em
      position: relative

      &:before
        content: ''
        position: absolute
        top: 45%
        left: 28px
        border-radius: 10px
        width: 4px
        height: @width
        background-color: rgba(0,0,0,0.1)

  .view-container
    width: 90%
    overflow-x: hidden
    overflow-y: auto

  .view
    width: 750px
    padding: .1em 3em 3em
    line-height: 1.8em
    color: #333
    font-size: 1.02em

    h1, h2, h3, h4, h5, h6
      font-size: 18px

    h1
      font-size: 20px

    a
      color: #0366d6
      text-decoration: none
</style>
